body {
  font-family: sans-serif;
  font-size: 90%;
}

form {
  width: 30em;
  
}

.submit {
  display: block;
}

.error {
  color: #C00;
  display: block;
  background-color: #FFE;
  padding: 5px;
  margin: 2px 0px;
  border: 1px dotted #F00;
}

label {
  display: block;
}

.radiogroup span {
  display: block
}

.radiogroup label {
  display: inline;
}
